[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "precommit"]
	path = precommit
	url = https://github.com/lorenzwalthert/precommit
